@import url("./input-wrapper.css");
@import url("./register-form.css");
@import url("./app-stat.css");
@import url("./user-actions.css");
@import url("./message-container.css");
@import url("./chat-screen.css");
@import url('./sendMessageForm.css');

* {
    font-family: 'Open Sans', sans-serif;
}

#form {
    display: flexbox;
    margin: 3% auto auto auto;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    height: 400px;
}

body {
    padding: 0px;   
    margin: 0;
}