.send-message-form .message-content {
    width: calc(100% - 60px);
    height: 30px;
    border: 1px solid #cccccc;
    background-color: #FFFFFF !important;
    color: #212121;
    outline: none;
}

.send-message-form .message-btn {
    height: 37px;
    width: 50px;
    background-color: #4889F4;
    border: 1px solid #4889F4;
    border-radius: 3px;
    color: #FFFFFF;
}
